<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let link of navLinks" (click)="isCollapsed = !isCollapsed" routerLinkActive="active">
        <a class="nav-link" routerLink="{{link | lowercase}}">{{link}}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" style="cursor:pointer;">
        <app-login (click)="isCollapsed = !isCollapsed"></app-login>
      </li>
      <li class="nav-item" style="cursor:pointer;">
        <app-register (click)="isCollapsed = !isCollapsed"></app-register>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
