<div class="row">
  <audio #audio src="" controls>
    <source src="" type="audio/ogg">
    <source src="" type="audio/mpeg">
  </audio>
</div>
<!-- <div class="row">
  <div class="card bg-dark text-white" *ngFor="let song of songs; let i = index" [attr.data-index]="i" style="width: 18rem;">
    <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">{{song.name}}</h5>
      <p class="card-text">{{song.name}}</p>
      <button type="button" class="btn btn-success" (click)="onPlaySong(song.name,audio)" name="button">Play</button>
    </div>
  </div>
</div> -->

<div class="row" id="songWrapper">
  <div class="col-md-3" id="song" *ngFor="let song of songs; let i = index" [attr.data-index]="i" (click)="onPlaySong(song.name,audio)">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" alt="">
    <div class="">
      <h5>{{song.name}}</h5>
    </div>
  </div>
</div>
<input type="text" name="search" value="">
<button type="button" (click)="search('test')" name="button">search</button>
