<ng-template #register let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Register</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onRegisterSubmit(f)" novalidate>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ngModel #username="ngModel" name="username" id="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" ngModel #email="ngModel" name="email" id="email" placeholder="email@example.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" ngModel #password="ngModel" name="password" id="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordCon" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" ngModel #passwordCon="ngModel" name="passwordCon" id="passwordCon" placeholder="Confirm Password">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<a class="nav-link" (click)="openRegPopUp(register)">Register</a>
