<footer class="container-fluid" id="footer">
  <div class="row">
    <div class="col-md">
      <h3>Left</h3>
    </div>
    <div class="col-md">
      <h3>Center</h3>
    </div>
    <div class="col-md">
      <h3>Right</h3>
    </div>
  </div>
</footer>
